streamlit
langchain==0.3.25
langchain-core==0.3.59
langchain-community==0.3.24
langchain-openai
langchain-groq
langchain-huggingface
langgraph
python-dotenv
bs4
pypdf
arxiv
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
faiss-cpu
langchain_chroma
duckdb
pandas
langchain_groq
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
pathlib
pinecone
pinecone-text
pinecone-notebooks
docx2txt
tiktoken
transformers
huggingface_hub